.container {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 32px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 64px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.form {
    margin-bottom: 40px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input {
    padding: 20px 80px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input:focus {
    border: 1px solid teal;
    outline: none; /* Видаляє стандартний контур браузера */
}


.button {
    padding: 20px 40px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: teal;
    transition: background-color 0.3s ease;
}

@media screen and (min-width: 768px) {
    .formWrapper {
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    .input {
        padding: 10px 40px;
    }

    .button {
        padding: 10px 20px;
    }
}