.container {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 32px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 64px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.catalogPageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogFilters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 360px;
}

.catalogList {
    min-width: 840px;
}

.name {

}
