.equipmentsWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 120px;
    overflow-y: auto;
}

.equipments {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    gap: 8px;
    border-radius: 100px;
    background: var(--colors-white-2);
}

.equipment {
    font-weight: 500;
    line-height: 1.5;
}