.container {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 32px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 64px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

ul, li, p {
    all: unset;
}

.imageInfoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-right: 1px solid teal;
    border-top: 1px solid teal;
    padding: 10px;
}


.imageInfoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

.imageInfoItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageInfoItemTitle, .imageInfoItemYear {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.imageInfoItemParagTitle {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.imageInfoItemParagValue {
    font-size: 20px;
    text-align: center;
}

.addInfo {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.addInfoTitle {
    font-size: 20px;
    font-weight: 500;
}

.buttonBack {
    color: whitesmoke;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-color: teal;
    background-color: teal;
    box-shadow: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.buttonBack:hover {
    opacity: 0.8;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .imageInfoWrapper {
        flex-direction: row;
    }

    .imageInfoItemTitle, .imageInfoItemYear {
        font-size: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media screen and (max-width: 768px) {
    .image {
        width: 240px;
    }
}