.namePriceFavoriteWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
}

.name {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
}

.priceFavorite {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.ratingLocationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.50;
}

.favorite {
    margin-right: 4px;
}

.rating, .reviews {
    border-bottom: 1px solid var(--colors-primary);
}

.map {
    margin: 0 4px 0 16px;
}

.descriptionWrapper {
    margin: 24px 0;
}