.catalogFiltersEquipment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.titleEquipment {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin: 32px 0 24px 0;
}

.equipmentList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    padding-top: 24px;
    border-top: 1px solid var(--colors-white-1);
}

.equipmentItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 112px;
    height: 96px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid var(--colors-white-1);
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.equipmentName {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.08px;
    text-align: center;
}

.equipmentCheckbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.active {
    border: 1px solid var(--colors-button); /* активна рамка */
}
