.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.additionalInfoContainer {
    background-color: var(--colors-white-titles);
    padding: 44px 52px;
    border: 1px solid var(--colors-white-titles);
    border-radius: 10px;
}

.vehicleDetailsTitle {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    display: block;
    margin-top: 100px;
    margin-bottom: 48px;
}

.vehicleDetailsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.vehicleDetailsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
}
