.catalogFiltersLocation, .catalogFiltersEquipment, .catalogFiltersType {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.catalogFiltersLocation {
    margin-bottom: 56px;
}

.catalogFiltersLocationItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleLocation {
    color: var(--colors-secondary-grey);
    line-height: 1.5;
    margin-bottom: 24px;
}

.iconLocation {
    margin-right: 8px;
}

.titleFilters {
    color: var(--colors-grey);
    font-weight: 500;
    line-height: 1.5;

}

.titleEquipment {
    margin-top: 32px;
}

.titleEquipment, .titleType {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
}

.titleEquipment {
    margin-bottom: 48px;
}

.equipmentList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.equipmentItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 112px;
    height: 96px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid var(--colors-white-1);
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.equipmentItem:hover {
    border: 1px solid var(--colors-button);
}

.equipmentIcon {

}

.equipmentName {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.08px;
}


