@import 'modern-normalize';

.container {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 32px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 64px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

ul, li {
    all: unset;
}

a {
    text-decoration: none;
    color: black;
}

button {
    all: unset;
    cursor: pointer;
}

h1, h3 {
    all: unset;
}
