:root {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--colors-primary);

    --colors-primary: #101828; /* Primary text color */
    --colors-grey: #475467;
    --colors-secondary-grey: #6C717B;
    --colors-button: #E44848;
    --colors-button-hover: #D84343;
    --colors-yellow: #FFC531;
    --colors-white-1: #DADDE1;
    --colors-white-2: #F2F4F7;
    --colors-white-titles: #F7F7F7;
    --colors-white: #FFFFFF;
}