.sectionHero {
    background-image: url('/assets/img/hero.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 696px;
}

/* Retina (2x) */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .sectionHero {
        background-image: url('/assets/img/hero@2x.webp');
    }
}

.heroContainer {
    margin: 0 auto;
    padding: 0 32px;
    height: 100%;
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    color: var(--colors-white-titles);
}

.heroTitle {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.90;
    margin-bottom: 16px;
}

.heroSubTitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 40px;
}

.heroBtn {
    border-radius: 200px;
    padding: 16px 48px;
    background-color: var(--colors-button);
    color: var(--colors-white);
    font-style: normal;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: -0.08px;
    cursor: pointer;
}

.heroBtn:hover {
    background-color: var(--colors-button-hover);
}


@media screen and (min-width: 768px) {
    .heroContainer {
        padding: 0 64px;
    }

    .heroTitle {
        font-size: 48px;
        line-height: 0.667;
    }
}

@media screen and (min-width: 1440px) {
    .heroContainer {
        padding: 0 64px;
    }
}
