.container {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.message {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin: 40px;
}

.link {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: var(--colors-button-hover);
    margin-bottom: 10px;
}

.link:hover {
    color: var(--colors-button-hover);
    text-decoration: underline 1px;
    opacity: 0.6;
}